<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>SBitter</title>
    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/styles/style.css" />
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% if user.is_authenticated %}
    <li style="float:right;">Hello, {{ user.username }}!</li>
    <br />
    <li style="float:right;"><a href="/logout">Logout</a></li>
    {% else %}
    <li style="float:right;"><a href="/login">Log in</a>, yo</li>
    {% endif %}

    <h1>SBitter</h1>
    <br />
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% block content %}
    {% endblock %}

    <hr />

    {% block footer %}
    {% endblock %}
  </body>
</html>
