{% extends "base.html" %}

{% block content %}

<form method="post" id="sbit_form" action="/post_sbit/{{ user.username }}/">
  <label for="sbit">SBit</label>
  <input type="text" name="sbit" value="{{ sbit }}" id="sbit" size="15" />
  <br />
  {% csrf_token %}
  <input type="submit" value="SBit" />
</form>

<br />
<br />

<ul>
{% for sbit in sbits %}
<li><strong>SBat by</strong> {{ sbit.user.username }}</li>
<li>{{ sbit.msg }}</li>
<li><strong>SBat on</strong> {{ sbit.pub_date|date:"Y-m-d @ H:i" }}</li>
<br />
{% endfor %}
</ul>

{% endblock %}
